<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xatu.course.mapper.SingleCourseMapper">
    <select id="selectAvailableByStudentNumber" resultType="com.xatu.course.domain.vo.SingleCourseVO">
        select c.name,sc.course_num,sc.course_index,sc.capacity,sc.remain,sc.info,c.credit,c.credit_hour,c.grade,c.period,c.assessment,t.name as teacher,sc.day_time,sc.hour_period,sc.location,
               IF(sc2.id is not null,1,0) as selected
        from single_course sc
        inner join course c on c.number = sc.course_num
        inner join teacher t on t.number = sc.teacher
        left join select_course sc2 on sc2.course = sc.course_num and sc2.course_index = sc.course_index and sc2.student = #{number} and sc2.term = #{term}
        where c.school = (
            select school
            from student
            where number = #{number}
        ) and ((c.grade = #{grade} and c.period&amp;#{period} > 0) or c.is_only_major = 0)
    </select>
    <select id="selectSelectedByStudentNumber" resultType="com.xatu.course.domain.vo.SingleCourseVO">
        select c.name,sc.course_num,sc.course_index,sc.capacity,sc.remain,sc.info,c.credit,c.credit_hour,c.grade,c.period,c.assessment,t.name as teacher,sc.day_time,sc.hour_period,sc.location
        from single_course sc
        inner join course c on c.number = sc.course_num
        inner join teacher t on t.number = sc.teacher
        inner join select_course sc2 on sc2.course = sc.course_num and sc2.course_index = sc.course_index
        where sc2.student = #{number} and sc2.term = #{term} and sc2.period = #{period}
    </select>
    <select id="selectCourseScoreByStudentNumber" resultType="com.xatu.course.domain.vo.CourseScoreVO">
        select sc2.term,sc2.period,c.name,sc.course_num,sc.course_index,c.credit,c.grade,t.name as teacher,sc2.score,sc2.usual,sc2.level,sc2.create_time as term_time
        from single_course sc
        inner join course c on c.number = sc.course_num
        inner join teacher t on t.number = sc.teacher
        inner join select_course sc2 on sc2.course = sc.course_num and sc2.course_index = sc.course_index
        where sc2.student = #{number}
        <if test="course != null">
            and c.name like concat('%', #{course}, '%')
        </if>
    </select>
    <select id="selectCourseByTeacherNumber" resultType="com.xatu.course.domain.vo.SingleCourseVO">
        select c.name,sc.course_num,sc.course_index,c.credit,c.credit_hour,c.period,c.assessment,sc.day_time,sc.hour_period,sc.location,
        (select count(*) from student s inner join select_course sc2 on sc2.student = s.number
        and sc2.course = sc.course_num and sc2.course_index = sc.course_index
        ) student_count
        from single_course sc
        inner join course c on c.number = sc.course_num
        where sc.teacher = #{number}
    </select>
</mapper>